root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bash,sh}]
indent_style = tab
indent_size = 2

[*.{py}]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.{c,hs,rb,js,ts,java,css,adoc,html}]
indent_style = space
indent_size = 2
