#
# .gitignore
#

##
# Damn node_modules! Why didn't nodejs do like python or ruby
# which install files somewhere global and reusable‽
#
node_modules

##
# macOS stuff.
#
.DS_Store

##
# Emacs backup and temp files.
#
.#*
\#*#

##
# Drawio backups and temporary files.
#
.$*.drawio.bkp

##
# Racket stuff.
#
*.rkt~
