#
# .gitignore
#

##
# Damn node_modules! Why didn't nodejs do like python or ruby
# which install files somewhere global and reusable‽
#
node_modules

##
# PureScript nvim LSP stuff.
#
.psc-ide-port

##
# macOS stuff.
#
.DS_Store

##
# Emacs backup and temp files.
#
.#*
\#*#

##
# Drawio backups and temporary files.
#
.$*.drawio.bkp

##
# Racket stuff.
#
*.rkt~

##
# Asciidoctor converted html files.
#
build

##
# C compiled programs.
#
**/out
*.o
*.run
*.exe

##
# C compilation caches.
#
**/.cache
